@model FitBuddy.Models.User

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Styles/styleaccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/Styles/Navbarstyle.css" />
    <title>Document</title>
</head>

<body>
    @if (ViewBag.username != null)
    {
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top desk">
            <div class="container">
                <a class="navbar-brand" href="Index">Hello @ViewBag.username</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="Progress">Progress</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="Scale">Scale</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="Add">Add product</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="History">Product History</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="BMRcalc">BMR calculator</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link text-success" href="Account">Account</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link text-danger" href="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-dark bg-dark sticky-top mob">

            <a class="navbar-brand" href="Index">@ViewBag.username</a>

            <!-- Collapse button -->
            <button class="navbar-toggler toggler-example ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="dark-blue-text ">
                    <i class="fas fa-bars fa-1x"></i>
                </span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="Progress">Progress</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="Scale">Scale</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="Add">Add product</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="History">Product History</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="BMRcalc">BMR calculator</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link text-success" href="Account">Account</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link text-danger" href="Logout">Logout</a>
                    </li>
                </ul>
                <!-- Links -->

            </div>

        </nav>



    }
    else
    {
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" style="font-family: 'Share Tech Mono', monospace;">
            <div class="container">
                <a class="navbar-brand" href="Index">Home</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-4">
                            <a class="nav-link active  text-success" href="Login">Login</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link active" href="Signup">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Scale">Scale</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    }

    <header>
        <a href="Index"><img id="icon" src="~/Styles/icon.png"></a>
    </header>
    <section style="height: 650px;">
        @using (Html.BeginForm("PersonalData", "FitBuddy", FormMethod.Post))
        {
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="wg" placeholder="Weight" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="hg" placeholder="Height" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="age" placeholder="Age" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="sex" placeholder="Gender(m or k)" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="waist" placeholder="Waist measurment" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="arm" placeholder="Arm measurment" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="thigh" placeholder="Thigh measurment" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="calf" placeholder="Celf measurment" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="forearm" placeholder="Forearm measurment" />
            <input class="Textfield mt-3 mb-3 mx-auto" type="text" name="chest" placeholder="Chest measurment" />
            <input class=" btn btn-succes my-4 p-1 mx-auto" type="submit" value="Update" />
        }
    </section>

    <footer class="mt-5" style="color:lawngreen;">
        @ViewBag.existing
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script src="script.js"></script>

</html>