
        @model FitBuddy.Models.Product

        @{

            Layout = null;
        }


        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
                  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="~/Styles/stylewelcome.css">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster&display=swap" rel="stylesheet">
            <title>FitBuddy</title>
        </head>

        <body>
            <header>
                <a href="Fitbuddy/Index"><img id="icon" src="~/Styles/icon.png"></a>
            </header>
            <section class="mobile">
                <p class="welcome mobile">Let's start your travel with FitBuddy</p>
            </section>

            <section class="desktop">
                <a href="Fitbuddy/Index" class="aa"> <p class="welcome desktop">Let's start your travel with FitBuddy</p> </a>
            </section>

            <footer></footer>

        </body>
</html>
