@model FitBuddy.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Zwrot", "FitBuddy", FormMethod.Post))
        {

            <input type="text" name="Pronam" />
            <input type="submit" />
            @Html.DisplayFor(m => m)

        }
    </div>
</body>
</html>
